<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客详情页</title>
    <link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}" />
    <link rel="stylesheet" href="../static/css/blog_detail.css" th:href="@{/css/blog_detail.css}" />
</head>
<body>
    <!-- 这是导航栏 -->
    <div class="nav">
        <label for="主页"></label>
        <a href="blog_list.html" th:href="@{/index}">
            <img src="../static/img/smile.jpg" alt="">
        </a>
        <span>jamin</span>
        <span>的博客</span>
        <!-- 空白元素, 用来占位置 -->
        <div class="spacer"></div>
        <a href="blog_list.html" th:href="@{/index}">主页</a>
        <a href="blog_edit.html" th:href="@{/edit}">写博客</a>
        <a href="#" th:href="@{/logout}">注销</a>
    </div>
     <!-- 页面版心 -->
     <div class="container">
        <!-- 左侧个人信息 -->
        <div class="left">
<div class="card">
    <img src="/static/img/smile.jpg" alt="">
    <h3>jamin</h3>
    <a href="https://gitee.com/big-white-rice">gitee 地址</a>
    <div class="counter">
        <span>文章</span>
        <span>分类</span>
    </div>
    <div class="counter">
        <span>3</span>
        <span>1</span>
        <a href="#" th:href="@{/otherLogin}">游客访问</a>
    </div>
</div>
        </div>
        <!-- 右侧内容详情 -->
        <div class="right">
            <!-- 使用这个 div 来包裹整个博客的内容详情 -->
            <div class="blog-content">
                <!-- 博客标题 -->
                <h3>我的第二篇博客</h3>
                <!-- 博客的时间 -->
                <div class="date">2022-05-08 19:00:00</div>
                <!-- 正文 -->
                <p>
                    这是第二天, 看看jquery. This function should be used to send messages out to the summary log file which makes for good high level progress monitoring.
                </p>
                <p>
                    git can sometimes get itself infinitely stuck with transient network errors or other issues with the remote end. This wraps git in a timeout/retry loop and is intended to watch over non-local git processes that might hang. GIT_TIMEOUT, if set, is passed directly to timeout(1); otherwise the default value of 0 maintains the status quo of waiting forever. usage: git_timed
                </p>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis aspernatur corporis autem nisi, aliquid exercitationem perferendis, repellat sequi labore ad expedita itaque quisquam aperiam? Voluptatem numquam cupiditate exercitationem quis earum.
                </p>
                <p>
                    porem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis veniam dolorem modi, sunt quo rem facere ut dolores inventore ratione nemo provident quae eius adipisci quidem facilis quod. Maxime, nam?
                </p>
             
            </div>
        </div>
    </div>
</body>
</html>
